{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}

    <div class="container" style="  margin-top: 10px; ">
        {% for post in posts %}
            <article class="media content-section">
                {% if user.profile.image %} 
                    {% thumbnail user.profile.image "125x125" as img %}
                        <img class="rounded-cirlce article-img" src="{{ img.url }}" alt="">
                    {% endthumbnail %} 
                {% endif %}
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                </div>
                <br>
            </article>
        {% endfor %}
    </div>
{% endblock content%}